# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuzione
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
venv/
.venv/

# File di log
*.log

# Config / credenziali (attenzione a non committare credenziali reali)
*.env
